grant {
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "exitVM.-1";
    permission java.lang.RuntimePermission "exitVM.0";
    permission java.lang.RuntimePermission "getenv.ProgramFiles(X86)";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.io.FilePermission "{files}/-", "read";
    permission java.io.FilePermission "optionsshaders.txt", "read";
    permission java.io.FilePermission "shaderpacks/OFF.txt", "read";
    permission java.io.FilePermission "optionsof.txt", "read,write";
};
