grant {
    permission java.util.PropertyPermission "legacy.debugClassLoading", "read";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "createSecurityManager";
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.io.FilePermission "{files}/-", "read";
};
